* {
  box-sizing: border-box;
}

body,
#root {
  /* disable pull to refresh when scrolling chat */
  /* Break the flow */
  position: absolute;
  top: 0px;

  /* Give them all the available space */
  width: 100%;
  height: 100%;

  /* Allow them to scroll down the document */
  overflow-y: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Sending body at the bottom of the stack */
  z-index: 1;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* Making the wrapper stack above the body */
  z-index: 2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
label {
  margin: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: $m-divider;
  outline: 1px solid $m-light-gray;
  border-radius: 5px;
}
