//Material colors
$m-indigo: #3f51b5;
$m-inidgo-dark: #303f9f;
$m-divider: #bdbdbd;
$m-light-gray: #757575;
$m-lightest-gray: #eeeeee;
$m-teal: #009688;
$m-green: #4caf50;

//sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
